.text-96 {
  font-size: 100px;
  line-height: 110px;
}

.text-30 {
  font-size: 30px;
  line-height: 35px;
}

.text-16 {
  font-size: 16px;
  line-height: 22px;
}


.color-white{
  color: white;
}


.regular{
  font-family: "Clash Display";
  font-weight:400;
}

.light{
  font-family: "Clash Display";
  font-weight:300;
}
.medium{
  font-family: "Clash Display";
  font-weight:500;
}
