.text-100{
  font-size: 100px;
  line-height: 110px;
}


.color-brown{
  color: black;
}


.regular{
  font-family: "Clash Display";
  font-weight:400;
}


.bold{
  font-family: "Clash Display";
  font-weight:500;
}
