.section-intro{
  width: 50%;
  padding-left: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  p{
    max-width: 40vw;
  }

  &-views-sneakers{
    position: relative !important;
    z-index: 9999999;
  }
}
